@tailwind base;
@tailwind components;
@tailwind utilities;

/* field border */

.field-border {
    @apply flex border mt-4 relative h-10;
    border-color: black;
    border-right-color: transparent;
    width: 25rem;
}

.dot-1 {
    position: absolute;
    top: -3px;
    left: 80px;
    transform: translateY(-10%);
    width: 7px;
    height: 7px;
    background-color: black;
    border-radius: 50%;
}

.dot-2 {
    position: absolute;
    top: -3px;
    left: 195px;
    transform: translateY(-10%);
    width: 7px;
    height: 7px;
    background-color: black;
    border-radius: 50%;
}


.dot-3 {
    position: absolute;
    top: -3px;
    left: 320px;
    transform: translateY(-10%);
    width: 7px;
    height: 7px;
    background-color: black;
    border-radius: 50%;
}

.field-left-image {
    @apply -ml-1 h-full;

}

.chart-top-left {
    @apply absolute bottom-0 left-0;
}

.field-top-dot {
    @apply absolute left-1/4;
    z-index: 1;
}

.inner-text {
    @apply absolute top-1/4;
    z-index: 1;
    left: 5%;
}




.small-screen-box{
    width:25rem;
    height: 30rem;
    border-top: transparent;
    
}
.small-screen-box {
    position: relative;
  }
  .small-screen-box:before {
    content: "";
    position: absolute;
    inset: 0;
    background: black;
    clip-path: polygon(0 0,100% 0,100% calc(100% - 80.00px),calc(100% - 80.00px) 100%,80.00px 100%,0 calc(100% - 80.00px),0 0,1px  1px ,1px calc(100% - 80.00px - 0.41px),calc(80.00px + 0.41px) calc(100% - 1px),calc(100% - 80.00px - 0.41px) calc(100% - 1px),calc(100% - 1px) calc(100% - 80.00px - 0.41px),calc(100% - 1px) 1px,1px 1px);
  }