@tailwind base;
@tailwind components;
@tailwind utilities;


/* LANDING */

.landing-container{
    @apply flex flex-col items-center overflow-hidden mt-5
}

.landing-title{
    @apply text-3xl mb-[1.85rem] mt-[3.5rem]
}

.asteroid-container{
    @apply flex flex-col mb-[6.5rem] text-center 
}

.asteroid-input-container{
    @apply h-8
}

.asteroid-input{
    @apply px-2 mt-2
}


.year-select,
.meteorite-composition,
.mass-range,
.asteroid-input{
  @apply focus:outline-none w-[186px] py-0.5  border-b border-black bg-transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
 
}
.year-dropdown-container:hover .year-select,
.composition-dropdown-container:hover .meteorite-composition,
.mass-dropdown-container:hover .mass-range{
    @apply  border py-1  ;
    -webkit-appearance: menulist; 
    -moz-appearance: menulist; 
}

.asteroid-input-container:hover .asteroid-input{
    @apply border 
}

.year-select-container{
    @apply mt-[-8px] mb-[5.3rem]
}

.composition-select-container{
    @apply mb-[5.3rem] 
}

.mass-select-container{
    @apply  mb-8
}

.mass-dropdown-container{
    @apply w-[11.7rem] ml-[-2px] mt-[1px]
}

.year-dropdown-container{
    @apply w-[11.7rem] mr-[8.4rem] mt-1
}

.year-dropdown-text,
.mass-dropdown-text,
.composition-dropdown-text{
    @apply relative  left-[3.5rem] text-xs py-0 mt-[-7px]
}

.asteroid-text{
    @apply relative text-xs mt-[10px] mb-[-7px]
}

.landing-btn-container{
    @apply flex flex-col mt-20 items-center relative
}

.search-btn{
    @apply fixed bottom-[6.5rem] text-[24px] font-bold right-0 left-0 mx-auto
}

.clear-btn{
    @apply fixed bottom-12 text-[20px] 
}

.small-black-border{
    @apply fixed bottom-20  pointer-events-none mb-7
}

.small-gray-border{
    @apply fixed bottom-12 right-0 left-0 mx-auto pointer-events-none
}

.search-btn-container,
.clear-btn-container{
    @apply flex justify-center items-center relative
}

.search-btn:hover,
.clear-btn:hover{
    transform: scale(1.05)
}

/* LANDING DARK MODE */

body.dark-mode .year-select,
body.dark-mode .meteorite-composition,
body.dark-mode .mass-range,
body.dark-mode .asteroid-input {
   @apply focus:outline-none w-[186px] py-0.5  border-b border-white bg-transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
}

body.dark-mode .asteroid-input-container:hover .asteroid-input,
body.dark-mode .year-dropdown-container:hover .year-select {
  @apply bg-white text-black

}

body.dark-mode .composition-dropdown-container:hover .meteorite-composition,
body.dark-mode .mass-dropdown-container:hover .mass-range{
  @apply py-1 bg-white text-black
}

body.dark-mode .composition-dropdown-container::after ,
body.dark-mode .mass-dropdown-container {
    @apply text-white
}

body.dark-mode .landing-options{
    @apply text-black
}

/* GLOBE */

.globe-container{
    @apply absolute top-[18rem] right-0 
}

.globe-gif {
    @apply absolute top-[19rem] right-0 w-40 max-w-[100%];
    transform: translateX(50%)
  }  

.globe-border{
    @apply hidden
}

/* ICONS */

.icon-container{
    @apply flex  gap-9 justify-center items-center
}

.landing-container .icon-container{
    @apply   mt-5
}

.dark-mode-icon{
    @apply  cursor-pointer
}

.about-icon{
    @apply cursor-pointer 
}

.about-icon:hover,
.dark-mode-icon:hover{
    transform: scale(1.05);
}

/* DARK MODE */

body.dark-mode text{
    @apply bg-white 
}

.dark-globe-img{
    @apply relative right-[-6.4rem] top-[-2px]
}

@media(max-width: 360px){
    .year-select-container{
        @apply ml-5
    }

    .composition-select-container{
        @apply ml-5
    }
}

@media(min-width:600px){
    .landing-container{
        @apply mt-6
    }

    .asteroid-container{
        @apply absolute top-[9.5rem] left-[1.5rem]
    }

    .composition-select-container{
        @apply absolute top-[10rem] -right-[7.1rem]
    }

    .year-select-container{
        @apply absolute top-[35.1rem] -right-[7rem]
    }

    .mass-select-container{
        @apply absolute top-[34.8rem] left-[1.5rem]
    }
    
    .landing-btn-container{
        @apply mt-[30rem]
    }

    .composition-dropdown-text,
    .year-dropdown-text{
        @apply relative left-2 
    }

    .year-dropdown-text{
        @apply left-[3.5rem]
    }

    /* GLOBE */
    .globe-container{
        @apply hidden
    }

    .globe-border{
        @apply flex h-[12.2rem]
    }


    .globe-gif-container{
        @apply flex justify-center ;
        
    }

    .globe-gif{
        @apply relative w-40 right-0 left-0 top-[10.5rem] border border-black;
        border-radius: 100%;
        transform: none
    }

    .globe-border{
        @apply border-black border absolute top-[18.5rem] pointer-events-none bg-transparent;
        border-radius: 100%;
    }

    .landing-btn-container{
        @apply mt-[25rem]
    }

    
    .search-btn{
        @apply absolute bottom-12
    }

    
    .small-black-border{
        @apply relative bottom-[1.5rem]
    }

    .clear-btn{
        @apply absolute bottom-5
    }

    .small-gray-border{
        @apply relative bottom-5
    }
}



@media(min-width: 1280px){
    .asteroid-container,
    .mass-select-container{
        @apply fixed left-[14.9rem] 
    }

    .year-select-container{
        @apply fixed right-[6.3rem] 
    }

    .composition-select-container{
        @apply fixed right-[6.3rem] top-[10.05rem]
    }

    .globe-border{
        @apply mt-0
    }

    .globe-gif{
        @apply mt-0
    }

    .search-btn{
        @apply bottom-32
    }

    
    .small-black-border{
        @apply bottom-[6.5rem]
    }

    .clear-btn,
    .small-gray-border{
        @apply bottom-24
    }

   .landing-container .icon-container{
        @apply mt-[-60px]
   }
}

/* @media(max-height: 800px) and (max-width:600px){
    .landing-title{
        @apply mt-16
    }

    .asteroid-container{
        @apply mb-[3.5rem]
    }

    .year-select-container{
        @apply mb-[3.5rem]
    }

    .composition-select-container{
        @apply mb-[3.5rem]
    }

    .mass-select-container{
        @apply mb-44
    }

    .landing-btn-container{
        @apply mt-[-70px]
    }

    .globe-container{
        @apply top-[13.4rem] 
    }
    
    .globe-gif{
        @apply top-[14.4rem] 
    }

    .search-btn,
    .small-black-border,
    .clear-btn,
    .small-gray-border{
        @apply bottom-[5rem]
    }

    .landing-container{
        @apply mt-0
    }
}

@media(max-height: 750px) and (max-width:600px){
    .search-btn,
    .small-black-border,
    .clear-btn,
    .small-gray-border{
        @apply bottom-[3.5rem]
    }

    .mass-select-container{
        @apply mb-40
    }

    .icon-container{
        @apply mt-[-30px] mb-16
    }

    .landing-container{
        @apply mt-0
    }
}


@media(max-height: 700px) and (max-width:600px){
    .search-btn,
    .small-black-border,
    .clear-btn,
    .small-gray-border{
        @apply bottom-[5.5rem]
    }

    .icon-container{
        @apply mt-[-70px]
    }

    .landing-btn-container{
        @apply mt-[-50px]
    }

    .landing-title{
        @apply pt-0 mt-10
    }

    .landing-container{
        @apply mt-6
    }
}

@media(max-height:640px) and (max-width:320px){
    .search-btn,
    .small-black-border{
        @apply mt-[-30px] mb-3
    }

    .asteroid-input{
        @apply w-40 mr-5
    }

    .year-select{
        @apply w-40 
    }

    .meteorite-composition{
        @apply w-40 
    }

    .mass-range{
        @apply w-40
    }

    .year-select-container{
        @apply ml-2
    }

    .composition-select-container{
        @apply ml-2
    }

    .globe-container{
        @apply  top-[13.5rem] 
    }
    
    .globe-gif{
        @apply  top-[14.5rem] 
    }

    .asteroid-container,
    .year-select-container,
    .composition-select-container,
    .mass-select-container{
        @apply mb-10
    }

    .icon-container{
        @apply mt-[-60px]
    }
} */


