@tailwind base;
@tailwind components;
@tailwind utilities;


/* LANDING */

.landing-container{
    @apply flex flex-col items-center 
}

.landing-title{
    @apply text-3xl mb-[1.85rem] mt-[5rem]
}

.asteroid-container{
    @apply flex flex-col mb-[6.5rem] text-center 
}

.asteroid-input{
    @apply px-2
}

.year-select,
.meteorite-composition,
.mass-range,
.asteroid-input{
  @apply focus:outline-none w-[186px] py-0.5 border-b-2 border-black border-b border-black bg-transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
 
}

.year-select,
.meteorite-composition,
.mass-range,
.asteroid-input{
    @apply py-1
}

.year-dropdown-container:hover .year-select,
.composition-dropdown-container:hover .meteorite-composition,
.mass-dropdown-container:hover .mass-range,
.asteroid-input-container:hover .asteroid-input{
    @apply bg-white border rounded-sm py-1;
    -webkit-appearance: menulist; 
    -moz-appearance: menulist; 
}

.year-select{
    @apply my-0 py-0 
}

.year-select-container,
.composition-select-container {
    @apply mb-[5.5rem] py-0 ;
}

.mass-select-container{
    @apply  h-10  mb-8
}

.mass-dropdown-container{
    @apply w-[11.7rem] p-0 m-0 h-10
}

.year-dropdown-container{
    @apply w-[11.7rem] mr-[8.5rem]
  }

.year-dropdown-text,
.mass-dropdown-text,
.composition-dropdown-text{
    @apply relative  left-[3.5rem] text-xs py-0 mt-[-7px]
}

.asteroid-text{
    @apply relative text-xs mt-[-7px] mb-[-7px]
}

.mass-dropdown-text{
    @apply mt-[-13px] py-1
}

.meteorite-composition,
.mass-range{
    @apply my-0 py-0
}

.landing-btn-container{
    @apply flex flex-col  pb-16 
}

.search-btn{
    @apply relative bottom-20 right-16 text-[24px] font-bold mb-7
}

.clear-btn{
    @apply relative bottom-16 left-[5.2rem] text-[20px]
}

.small-black-border{
    @apply relative bottom-20 left-16 pointer-events-none mb-7
}

.small-gray-border{
    @apply relative bottom-16 right-4 pointer-events-none 
}

.search-btn-container,
.clear-btn-container{
    @apply flex justify-center items-center
}

/* GLOBE */

.globe-container{
    @apply absolute top-[17rem] right-0 overflow-hidden
}

.globe-gif{
    @apply absolute top-[18rem] w-40 right-[-83px] overflow-hidden max-w-[100%]
}


@media(min-width:766px){

    .asteroid-container{
        @apply absolute top-40 left-16
    }

    .composition-select-container{
        @apply absolute top-[10.5rem] right-[75px] mt-1
    }

    .year-select-container{
        @apply absolute top-[35.3rem] right-[-65px]
    }

    .mass-select-container{
        @apply absolute top-[35rem] left-16
    }
    
    .landing-btn-container{
        @apply mt-[37rem]
    }

    .composition-dropdown-text,
    .year-dropdown-text{
        @apply relative left-2 top-[0.4rem]
    }

    .year-dropdown-text{
        @apply left-[3.5rem]
    }

    /* GLOBE */
    .globe-container{
        @apply hidden
    }

    .globe-gif-container{
        @apply flex justify-center items-center ;
        
    }

    .globe-gif{
        @apply relative w-40 flex right-0 left-0 top-40 border border-black;
        border-radius: 100%
    }

    .globe-border{
        @apply border-black border absolute top-72 pointer-events-none bg-transparent;
        border-radius: 100%;
    }
}


@media(min-width: 1280px){
    .landing-container{
        @apply w-[1100px] mx-auto
    }

    .asteroid-container{
        @apply fixed left-[12rem] top-[18rem]
    }

    .asteroid-text{
        @apply mt-0
    }

    .composition-select-container{
        @apply fixed right-[12rem] top-[18rem]
    }

    .year-select-container{
        @apply fixed right-[3rem] top-[47rem]
    }

    .mass-select-container{
        @apply fixed left-[12rem] top-[47rem]
    }
    
    .landing-btn-container{
        @apply mt-[40rem]
    }

    .composition-dropdown-text,
    .year-dropdown-text{
        @apply relative left-2 top-[0.4rem]
    }

    .year-dropdown-text{
        @apply left-[3.5rem]
    }

    .globe-container{
        @apply hidden
    }

    .globe-gif-container{
        @apply flex justify-center items-center ;   
    }

    .globe-gif{
        @apply relative w-40 flex right-0 left-0 top-80 border border-black;
        border-radius: 100%
    }

    .globe-border{
        @apply border-black border absolute top-[28rem] pointer-events-none bg-transparent;
        border-radius: 100%;
    }
}
   