@tailwind base;
@tailwind components;
@tailwind utilities;


.full-height-map {
  @apply relative w-[20rem] h-[20rem] mx-auto mt-2 mb-[-100px] z-10 overflow-hidden border-none ;
  border-radius: 50%; 
}

body.dark-mode .overlay{
    @apply border-[#232323] border-2 top-[10.75rem] mx-auto w-[20.12rem] h-[20.1rem] shadow-sm shadow-[#232323] z-30 fixed right-0 left-0 pointer-events-none;
    border-radius: 50%;
}

.back-to-results{
    @apply relative top-[13rem] right-0 left-0 w-52 h-5 capitalize mx-auto cursor-pointer 
}

.back-to-results:hover{
    transform: scale(1.05)
}
.back-to-results-border{
    @apply relative top-[14.7rem] left-0 right-0 mx-auto 
}

.map-search-btn{
    @apply relative -bottom-7
}

.map-icon-container{
    @apply relative bottom-0
}

.map-search-results{
    @apply mx-6 mt-4 mb-40 relative z-50;
    
}

body.dark-mode .map-selected-container{
    @apply border-white 
}

.map-selected-container{
    @apply relative bg-white flex justify-between border px-5 border-black mt-0 h-9 items-center z-50;
}

body.dark-mode .map-selected-container{
    @apply bg-[#232323]
}

.search-icon-container{
    @apply  relative bottom-0
}

.search-field{
    @apply  bg-white z-50 relative
}

body.dark-mode .search-field{
    @apply bg-[#232323]
}

@media(min-width:420px){
    body.dark-mode .overlay{
        @apply border-[#232323] border-4 top-[8.5rem]  mx-auto w-[20.1rem] h-[20.1rem] shadow-sm shadow-[#232323] z-30 absolute right-0 left-0 pointer-events-none;
        border-radius: 50%;
    }
}

@media(min-width:450px){
    .full-height-map{
        @apply w-[25rem] h-[25rem]
    }

    body.dark-mode .overlay{
        @apply h-[25.1rem] w-[25.1rem]
    }
}

@media(min-width: 600px) {
    .full-height-map{
        @apply h-[32rem] w-[32rem] mb-[-24px] mt-3 
    }
    
    body.dark-mode .overlay{
        @apply h-[32.15rem] w-[32.125rem] border-2 top-[8.75rem];
        border-radius: 50%
    }


    .map-icon-container{
        @apply relative bottom-6
    }

    .map-search-btn{
        @apply absolute top-[50.5rem] h-0 right-0 left-0 
    }

    .back-to-results{
        @apply  top-28
    }

    .back-to-results-border{
        @apply top-[8.7rem] 
    }

    .search-icon-container{
        @apply  relative bottom-[3rem]
    }
}

@media(min-width: 1280px) {
    .full-height-map{
        @apply h-[45.5rem] w-[47rem] fixed right-0 left-0 mx-auto top-[2.8rem] z-10;
    }

    body.dark-mode .overlay{
        @apply flex left-0 right-0 fixed h-[45.65rem] w-[47.125rem] top-[3.44rem];
        border-radius: 50%;
    }

    .map-search-results{
        @apply absolute -top-[4.45rem] right-0 left-0 w-[390px] mx-auto z-50
    }

    .map-icon-container{
        @apply relative top-[53rem]
    }

    .back-to-results{
        @apply  top-[45.5rem]
    }
    
    .back-to-results-border{
        @apply top-[47.1rem]  
    }

    .map-search-btn{
        @apply  w-96 mx-auto  mt-8
    }

    .map-title{
        @apply mt-8
    }

    .search-icon-container{
        @apply  relative bottom-28
    }
}
