@tailwind base;
@tailwind components;
@tailwind utilities;


th,
td {
    padding: 12px 0;

}

.table-container {
    height: 300px;
    overflow: auto;
}

.search-field {
    @apply flex justify-evenly lg:m-auto py-2  border border-b-0
}


.results-icon-container{
    @apply absolute top-[52rem]
}

@media(min-width:600px){
    .results-icon-container{
        @apply absolute top-[59rem]
    }
    
}

@media(min-width:1280px) {
    .search-outer-container {
        width: 1280px;
    }

    .search-inner-container {
        width: 800px;
    }

    .table-container {
        height: 400px;
    }

    .results-icon-container{
        @apply absolute top-[47.5rem]
    }
    
}