@tailwind base;
@tailwind components;
@tailwind utilities;


th,
td {
    padding: 12px 0;

}

.table-container {
    overflow: auto;
    height: 300px;

}

.search-field {
    @apply flex justify-evenly lg:m-auto py-2  border border-b-0
}

.new-search-container:hover .new-search-btn {
    display:inline-block;
    transform: scale(1.05);
    cursor: pointer;
}

.map-gif{
    @apply relative overflow-hidden z-10 top-2.5 right-1 w-12 h-7
}



@media(max-width:320px){
    .map-gif{
        @apply w-[500px] h-5  right-2
    }
}

@media(max-width:400px){
    .map-gif{
        @apply w-32 h-7
    }
}

@media(max-width: 450px){
    .table-container {
        @apply w-[100%] mx-auto;
    }

    .search-field,
    .table-container,
    .search-results{
        @apply text-xs
    }

    .search-mass
    .search-year{
        @apply text-left
    }

    .search-recclass{
        @apply text-center
    }

    .search-table-text{
        @apply text-left
    }
}

@media(max-width: 500px){
    .map-gif{
        @apply w-32 h-7
    }
}

@media(min-width: 450px){
    .map-gif{
        @apply w-20 h-7
    }
}


@media(min-width:600px){
    .search-inner-container {
        @apply w-[600px]
    }

    .table-container {
        height: 400px;
    }

    .map-gif{
        @apply  w-7 h-7
    }
}

@media(min-width:1280px) {
    .search-outer-container {
        width: 1280px;
    }

    .search-inner-container {
        width: 800px;
    }

    .table-container {
        height: 400px;
    }
}

